@charset "UTF-8";

*{
    border: none;
    margin: 0px;
    padding: 0px;
    font-family: monospace;
}

main{
    background-color: rgb(137, 240, 197);
    max-width: 550px;
    height: 450px;
    margin: 200px auto 0px;
    text-align: center;
    border-radius: 10px;
    padding-top: 10px
}

form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: 1.6em;
}

h1{
    cursor: default;
}

label{
    padding: 10px 0em;
    cursor: pointer;
}

.inputs{
    font-size: .8em;
    text-align: center;
    font-family: monospace;
    font-weight: 500;
    padding: 5px;
    height: 25px;
    width: 300px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
    color: black;
}

input[type=submit]{
    height: 35px;
    width: 300px;
    border: 2px solid black;
    border-radius: 15px;
    font-size: .8em;
    margin-top: 20px;
    font-weight: bolder;
    cursor: pointer;
    background-color: white;
    color: black;
}
input[type=submit]:hover{
    background-color: rgb(59, 59, 59);
    color: rgb(221, 221, 221);
    transition: .6s;
}
a{
    text-decoration: none;
    font-size: .9em;
    margin: 6px 0px 6px 10px;
    color: black;
    padding: 4px;
    border-radius: 10px;
}

a:hover{
    text-decoration: underline;
    background-color: rgb(39, 39, 39);
    color: white;
    transition: .5s;

}
#errorMsg {
    font-size: 1em;
    background-color: #ffe6e6;
    border: 1px solid red;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;

}

#toast{
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 16px;
    position: fixed;
    z-index: 999;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    opacity: 0;
    transition: opacity 0.5s, bottom 0.5s;
}

#errorMsg{
    display:none;
}

#links{
    display: flex;
    flex-direction: row;
}